@layer components {
  .prose {
    @apply min-w-0;
  }

  .prose .katex-display {
    @apply !m-0;
  }
}

@layer components {
  code[data-line-numbers] {
    counter-reset: line;
  }

  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply inline-block w-6 mr-4 text-right text-muted
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    @apply w-5
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    @apply w-7
  }
}

@layer components {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
  }

  .dark code[data-theme*=" "],
  .dark code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
