@theme {
  --animate-fade-in: fade-in 2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  --animate-fade-in-up: fade-in-up 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  --animate-collapsible-slide-down: collapsible-slide-down 200ms cubic-bezier(0.5, 1, 0.89, 1) forwards;
  --animate-collapsible-slide-up: collapsible-slide-up 200ms cubic-bezier(0.5, 1, 0.89, 1) forwards;

  @keyframes fade-in {
    0% {
      visibility: hidden;
      opacity: 0;
      filter: blur(14px);
    }
    100% {
      visibility: visible;
      opacity: 1;
      filter: blur(0px);
    }
  }

  @keyframes fade-in-up {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(18px);
      filter: blur(14px);
    }
    100% {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      filter: blur(0px);
    }
  }
}
