@font-face {
  font-family: "Charter";
  src: url("/fonts/Charter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Charter";
  src: url("/fonts/Charter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Inter Variable";
  src: url("/fonts/InterVariable.woff2") format("woff2 supports variations"),
       url("/fonts/InterVariable.woff2") format("woff2-variations");
  font-style: normal;
}

@font-face {
  font-family: "Inter Variable";
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2 supports variations"),
       url("/fonts/InterVariable-Italic.woff2") format("woff2-variations");
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMonoVariable.woff2") format("woff2 supports variations"),
       url("/fonts/JetBrainsMonoVariable.woff2") format("woff2-variations");
  font-style: normal;
}

